*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  width: 100%;
  min-height: 120dvh;
  background-color: #333;
  background-image:linear-gradient(to left,black, white, black);
  display: flex;
  flex-direction: column;
  }


  figure img{
    display: block;
    max-width:60%;
    min-width:40%;
    height: auto;
    border: none;
    margin: auto;
    border-radius: 100%;
    border: 10px solid white;
  }

  embed{
    width:50%;
    min-width: 250px;
    padding: 20px;
  }

  /*HEADER DESIGN */
  
.bg-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 5%;
  height: 150px;
}

.bg-header h1{
  width: 400px;
  min-width: 150px;
}

.bg-header h1 img{
  width: 60%;
}

.menu-btn{
  display: none;
}

.menuList-header{
  display: flex;
  column-gap: 1rem;
  font-size: 2em;
  padding-right: 20px;
}

.menuList-header li{
  list-style: none;
}

.menuList-header li a{
  color: white;
  text-decoration: none;
  position: relative;
  border: 1px solid white;
  padding: 5px 10px;
  border-radius: 25px;
  transition: all 1s;
}

.menuList-header li a:hover{
  border: none;
  background-color: blue;
  border: 1px solid white;
}

.menu-btn {
  background-color: black;
  border: none;
}

/* SECTION ONE DESIGN */


.about-section ul li{
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  border: 5px solid #333;
  border-radius: 20px;
  }

.pro-header figure{
  width: 450px;
  height: auto;
}


.pro-body{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100%;
  flex-direction: column;
}

.pro-body p{
  text-align: justify;
  padding-top: 5px;
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  margin-top: 5%;
  font-size: clamp(1.3rem, 5vw, 3em);
  border: 1px solid #333;
  height: 40%;
  text-indent: 2%;
 
}

.pro-body p span{
  color: red;
  position: relative;
  font-family: Helvetica;
 font-weight: 900;
 -webkit-text-stroke: white 1px;
}

/* ABOUT SECTION*/
.section-info__wrapper{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 70vh;
  gap: 2rem;
  margin-left: 1%;
  margin-right: 1%;
  border: 5px solid #333;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
}

.language_service{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../Img/section\ pix\ \(1\).jpg);
  background-position: 100%;
  background-size: 100%;
  height: 70vh;
  width: 100%;
  border-radius: 10px;
}
.language_service div{
  background-color: #333333c0;
  padding: 20px;
  font-family: Helvetica;
   width: 80%;
   display: grid;
   place-items: center;
   margin-bottom:4% ;
}

.language_service h2{
  font-size: clamp(2rem, 5vw, 3em);
  text-align: center;
  margin-bottom:50px ;
  font-family: Helvetica;
  text-shadow: 0 0 4px black;
  color: red;
  font-weight: 900;
}

.language_service p{
  font-size: clamp(1.2rem, 4vw, 2em);
  text-align: center;
  color: white;
  font-weight: 900;
}


.about__skill{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../Img/section\ pix\ \(2\).jpg);
  background-position: 100%;
  background-size: 100%;
  height: 70vh;
  width: 100%;
  border-radius: 10px;
}

.about__skill div{
  background-color: #333333c0;
  padding: 20px;
  font-family: Helvetica;
   width: 80%;
   display: grid;
   place-items: center;
   margin-bottom:4% ; 
}

.about__skill p{
  font-size: clamp(1.2rem, 4vw, 2em);
  text-align: center;
  color: white;
  font-weight: 900;
  padding-bottom: 10px;
  position: relative;
}


.about__skill h2{
  font-size: clamp(3rem, 10vw, 3em);
  text-align: center;
  margin-bottom:50px ;
  font-family: Helvetica;
  color: red;
  text-shadow: 0 0 4px black;
  font-weight: 900; 
}

.achievement__section{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url(../Img/section\ pix\ \(9\).jpg);
  background-position: 100%;
  background-size: 100%;
  height: 50vh;
  width: 100%;
  border-top: 10px solid #333;
  border-bottom: 10px solid #333;
}

.achievement__card{
  width: 30vw;
  height: 32vh;
  font-size: clamp(1.2rem, 5vw, 2em);
  color: gold;
  padding-bottom: 2%;
  background-image: url(/Img/section\ pix\ \(8\).jpg);
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.achievement__card div{
  background-color: rgba(0, 0, 0, 0.623);
  width:28vw;
  height: 27vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
 
}


/* FOOTER DESIGN */

 /*.footer{
  display: grid;
  background-color: black;
  background-image: linear-gradient(to right, black, white, black); 
  font-size: min(1.2rem, 3vw);
  height: 40vh;
  gap: 0.5rem;
  
} */

.footer__container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

footer h4{
  color: red;
  font-size: clamp(1rem, 4vw, 3rem);
  text-shadow: 2px 0px 1px black;
}

.footer__1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.footer__1 a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.footer__1 img{
  width: 35%;
  min-width: 250px;
}

.footer__1 p{
  text-align: center;
  font-size: 1em;
  color: black;
}

.footer__2{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 padding-left: 10px;
}

.footer__2 ul{
 display: flex;
 align-items: center;
 justify-content: space-around;
 gap: 15px;
}

.footer__2 li{
  list-style-type: none;
  position: relative;
}


.footer__2 li a:any-link{
  color: white;
  text-decoration: none;
}

.footer__2 li::before{
  position: absolute;
  content: "";
  border-radius: 5px ;
  height: 3px;
  bottom: -3px;
  background-color: red;
  left: 50%;
  transform: translateX(-50%);
  transition: width 500ms ease-in-out;
}


.footer__2 li:hover::before{
  width: 70px;
}

.footer__3{
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
}

.footer__3 div {
  text-shadow: 0 0 4px black;
  background-color: #33333393;
 color: color;
 padding: 10px;
 border-radius: 10px;
}

.footer__4{
  text-align: center;
  font-size: clamp(1rem, 2vw, 2rem);
  padding: 15px;
  background-color: black;
  color: white;
}
.footer__4 span{
  font-size: clamp(1rem, 2vw, 1.2rem);
}
.color{
  color: blue;
  font-weight: bolder;
  font-family: Helvetica; 
 position: relative;
}

.color::before{
  content: "";
  height: 3px;
  bottom: -3px;
  background-color: red;
  width: 150px;
  left:-10px;
  display: inline-block;
  position: absolute;
}

.footer__4 span .deDon{
  color: blue;
  font-weight: bolder;
  font-size: 2rem;
  font-family: Helvetica;
}

.footer__social{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
}

.footer__social > li{
 list-style-type: none;
}

.footer__social > li:nth-child(1) > a{
  font-size: clamp(1rem, 3vw, 1.5rem);
  color: white;
  background-color: skyblue;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid white;
}

.footer__social > li:nth-child(1) > a:hover{
  color: skyblue;
  background-color: transparent;
  border: 1px solid skyblue;
}

.footer__social > li:nth-child(2) > a{
  font-size: clamp(1rem, 3vw, 1.5rem);
  color: white;
  background-color: lightgreen;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid white;
}

.footer__social > li:nth-child(2) > a:hover{
  color: lightgreen;
  background-color: transparent;
  border: 1px solid lightgreen;
}

.footer__social > li:nth-child(3) > a{
  font-size: clamp(1rem, 3vw, 1.5rem);
  color: white;
  background-color: red;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid white;
}

.footer__social > li:nth-child(3) > a:hover{
  color: red;
  background-color: transparent;
  border: 1px solid red;
}

.footer__social > li:nth-child(4) > a{
  font-size: clamp(1rem, 3vw, 1.5rem);
  color: blue;
  background-color: white;
  display: inline;

  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid blue;
}

.footer__social > li:nth-child(4) > a:hover{
  color: white;
  background-color: transparent;
  border: 4px solid blue;
}


@media screen and (max-width:985px){
/* body{
  height: 80dvh;
} */
.menuList-header{
  display: none;
}  

.menu-header h1 a img{
  width: 200px;
}

.pro-body p span::before{
  content: "";
  width: 0px;
  left: 0%;
}

  
  .section-info__wrapper{
    grid-template-columns: 1fr;
    gap: 3rem;
  }
  
 .menu-btn{
  display: inline-block;
 } 

 .footer__2 ul{
  flex-direction: column;
  gap: 5px;
 }

 .achievement__section{
  flex-direction: column;
  row-gap: 1rem;
  height: 100vh;
  margin: auto;
  border-top: 10px solid #333;
  border-bottom: 10px solid #333;
 }

 .achievement__card{
  width: 40%;
  display: grid;
  place-content: center;
 }
 
 .achievement__card{
  width: 50vw;
  height: 25vh;
 }

 .achievement__card div{
  width:42vw;
  height: 20vh;
  display: flex;
 }

}
